<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>영품문고 책리스트</title>
</head>
<body>
<h2>영품문고 책 이름</h2>

<table>
    <tr>
        <th>책이름</th>
        <th>저자</th>
        <th>출판사</th>
        <th>책정보</th>
        <th>출판일</th>
    </tr>
    <th:block th:each="ypbook : ${list}">
        <tr>
            <td th:text="${ypbook.bookname}"></td>
            <td th:text="${ypbook.author}"></td>
            <td th:text="${ypbook.publisher}"></td>
            <td th:text="${ypbook.bookInfo}"></td>
            <td th:text="${ypbook.publicationdate}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>